//
//  Production.xcconfig
//  PharmacyPortal
//
//  Created by vlad.kosyi on 17.11.2020.
//  Copyright © 2020 com.chisw. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Server URL
API_URL = https:/$()/api.url/ // set your api url
API_VERSION = /api/v1/

// App Settings
APP_NAME = app-name-prod
APP_BUNDLE_ID = com.chisw.testApp // set your bundle name
